{% extends 'core/base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block body %} class="index-page bg-gray-100" {% endblock body %}

{% block content %}
<header class="header-2">
    <div class="page-header relative">
        <div class="container" style="margin-top: 20px;">
            <div class="row">

                <div class="text-left mx-auto">
                    <h3 class="text-primary">
                        Sistema de Solicitudes
                    </h3>
                    <p>Plataforma para el registro de Solicitudes</p>
                    
                    <nav class="menu">
                        <a href="{% url 'operative_requests_create' %}" class="btn secondary-btn">
                            <i class="fas fa-plus-circle"></i> Crear Nueva Solicitud
                        </a>
                    </nav>

                    <form role="form" id="search-form" method="post" autocomplete="off" action="{% url 'operative_requests_search' %}">
                        {% csrf_token %}    
                        <div class="row">
                            <div class="col col-lg-6 col-md-12">
                                <div class="input-group w-100 col-lg-6 col-md-12">
                                    <label class="text-secondary align-self-center">Teléfono Solicitante: &nbsp;</label>
                                    <input class="form-control" aria-label="Escribe palabras para facilitar la búsqueda" type="text" name='applicant_phone_number' id='applicant_phone_number_id' >
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-2 justify-content-xs-end">
                                <button type="submit" class="btn bg-gradient-primary w-100 ms-lg-1">Buscar</button>
                            </div>
                        </div> 
                    </form>
                </div> 
            </div>
        </div>
    </div>
</header>  
{% endblock %}

{% block javascripts %}
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/localization.js' %}"></script>
{% endblock %}
