{% extends 'core/base.html' %}
{% load static %}

{% block title %}Contraseña Actualizada{% endblock title %}

{% block body %} class="sign-in-illustration" {% endblock body %}

{% block content %}
    <section>
        <div class="page-header min-vh-80">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-left">
                                <h4 class="font-weight-bolder">Contraseña Actualizada</h4>
                            </div>
                            <div class="card-body">
                                {{account.complete_name}}, su contraseña ha sido actualizada satisfactoriamente.
                            </div>
                            <div class="card-footer pt-0">
                                <a href="{% url 'auth_login' %}" class="text-primary text-gradient font-weight-bold">Ingresa Aqui!</a>
                            </div>
                        </div>
                    </div>
                    {% include "core/includes/text_auth.html" %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
