django
django-mongodb-backend
django-extensions
python-dotenv
whitenoise
gunicorn
django-mathfilters
str2bool
django-theme-soft-design
django-fileprovider
django-daisy
django-jquery
django_bootstrap5
django-better-admin-arrayfield
django-bootstrap-datepicker-plus
pyshorteners
styleframe