{% extends 'core/base_mail.html' %}
{% load static %}

{% block title %}Reinicio de Contraseña Comunidades{% endblock title %}

{% block body %} class="sign-in-illustration" {% endblock body %}

{% block content %}
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="50%" role="module" style="padding:30px 0px 30px 20px" bgcolor="#cb0c9f">
        <tbody>
            <tr>
                <td align="center">
                    <img class="max-width-500 w-100 position-relative z-index-2"  width="300" height="120" src="https://comunidades.arvii.com.co/static/img/arvii_logo.png">
                </td>
            </tr>
            <tr>
                <td style="padding:18px 0px 18px 0px;line-height:30px;text-align:inherit" height="100%" valign="top" bgcolor="" role="module-content">
                    <div>
                        <h2 style="text-align:center">
                            <span style="color:#ffffff;font-family:helvetica,sans-serif;font-size:30px">
                                <strong>ARVII Comunidades</strong>
                            </span>
                        </h2>
                    <div>
                </td>
            </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="50%" role="module" style="padding:30px 0px 30px 20px" bgcolor="#ffffff">
        <tbody>
            <tr>
                <td style="padding:30px 30px 18px 30px;line-height:36px;text-align:inherit;background-color:#ffffff" height="100%" valign="top" bgcolor="#ffffff" role="module-content">
                    <div>
                        <div style="font-family:inherit;text-align:center">
                            <span style="font-size:48px;font-family:inherit;color:#b83489">Reinicia tu contraseña</span>
                            <span style="font-size:48px;font-family:inherit;color:#b83489">
                                <strong>{{complete_name}}</strong>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="50%" role="module" style="padding:30px 0px 30px 20px" bgcolor="#4d5171">
        <tbody>
            <tr>
                <td style="padding:18px 30px 18px 30px;line-height:22px;text-align:inherit;background-color:#4d5171" height="100%" valign="top" bgcolor="#4d5171" role="module-content">
                    <div>
                        <div style="font-family:inherit;text-align:inherit">
                            Ingresa en el botón y reinicia la contraseña de tu cuenta, si no solicitaste esta operación, elimina el mensaje e ignora el proceso.</span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="50%" height="10px" style="line-height:10px;font-size:10px">
        <tbody>
            <tr>
                <td style="padding:0px 0px 10px 0px" bgcolor="#000000"></td>
            </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="50%" role="module" style="padding:0px 0px 0px 0px" bgcolor="#FFFFFF">
        <tbody>
            <tr role="module-content">
                <td width="30%" valign="top">
                    &nbsp;
                </td>
                <td width="40%" valign="top">
                    <div class="text-end">
                        <a href="{{reset_password_url}}">
                            <span style="font-size:20px;font-family:inherit;color:#ffffff;background-color:#b83489">
                                Reiniciar la contraseña
                            </span>
                        </a>
                    </div>
                </td>
                <td width="30%" valign="top">
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>

    <table border="0" cellpadding="0" cellspacing="0" align="center" width="50%" height="10px" style="line-height:10px;font-size:10px">
        <tbody>
            <tr>
                <td style="padding:0px 0px 10px 0px" bgcolor="#000000"></td>
            </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="50%" role="module" style="padding:0px 0px 0px 0px" bgcolor="#FFFFFF">
        <tbody>
            <tr>
                <td style="padding:18px 0px 18px 0px;line-height:22px;text-align:inherit" height="100%" valign="top" bgcolor="" role="module-content">
                    <div>
                        <div style="font-family:inherit;text-align:inherit">
                            <span style="font-size:14px">Si no funciona el botón, copia el siguiente enlace y pegalo en el la barra de direcciones del navegador:</span>
                        </div>
                        <div style="font-family:inherit;text-align:inherit">
                            <a href="{{reset_password_url}}" target="_blank" data-saferedirecturl={{reset_password_url}}>
                                <span style="font-size:14px">{{reset_password_url|safe}}</span>
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
