<div class="modal fade" id="setPasswordModal" tabindex="-1" role="dialog" aria-labelledby="setPasswordModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_setPasswordModal">Asignar Contraseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" id="setpassword-form" method="post" autocomplete="off" action="{% url 'auth_setpassword' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    {% for field in setpassword_form %}
                        <div class="mb-3">
                            {{ field }}
                        </div>
                        <span class="text-danger"> {{ field.errors }} </span>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn bg-gradient-primary">Cambiar Contraseña</button>
                </div>
            </form>
        </div>
    </div>
</div>