{% load static %}
{% load humanize %}
{% load tools %}

<table class="table align-items-center mb-0">
    <thead>
        <tr>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Documento</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="40%">Nombre Archivo</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="40%">Descripción</th>
            <th class="text-secondary opacity-7" width="10%"></th>
        </tr>
    </thead>

    <tbody>
        {% for document in paginator.data %}
            <tr>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{document.document_class}}</span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{document.filename}}</span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{document.title}}</span>
                </td>
                <td class="align-middle">
                    <button type="button" class="btn" data-original-title="Descargar Documento" onclick="downloadFile('{{document.filename}}', '{{document.content}}', '{{document.file_type}}');">
                        <i class="fa fa-download text-sm"></i>
                    </button>      
                    {% if role_id == '' %}
                        {% if document.document_class.document_type.id == 'CUSTOM' or document.document_class.document_type.id == 'PAYMENT' %}
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#formModal" data-original-title="Eliminar Documento" onclick="load_data('delete', '{{document.id}}');">
                                <i class="fa fa-trash text-sm"></i>
                            </button>
                        {% endif %}
                    {% else %}
                        {% if role_id == 'applicant' %}
                            {% if document.document_class.document_type.id == 'CUSTOM' or document.document_class.document_type.id == 'PAYMENT' %}
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#formModal" data-original-title="Eliminar Documento" onclick="load_data('delete', '{{document.id}}');">
                                    <i class="fa fa-trash text-sm"></i>
                                </button>
                            {% endif %}
                        {% else %}
                            {% if role_id == 'assistant' %}
                                {% if document.document_class.document_type.id != 'PAYMENT' %}
                                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#formModal" data-original-title="Eliminar Documento" onclick="load_data('delete', '{{document.id}}');">
                                        <i class="fa fa-trash text-sm"></i>
                                    </button>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
    {% endfor %}
    </tbody> 
</table>