{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="headerbar">
        <div class="navbar-brand">
            <div class="row">
                <div class="col-sm-4 text-start">
                    {% include "include/menu.html" %}
                </div>
                <div class="col-sm-1">
                    <img width="100%" src='{% static "img/app_logo.png" %}' class="rounded mx-auto d-flex align-items-end" />
                </div>
                <div class="col-sm-3 text-start titlename">
                    <br/>
                    {{COMERCIAL_APP_NAME}}
                </div>

                <div class="col-sm-3 text-end" style="font-size: medium;">
                    {% if request.user.is_authenticated %}
                        <br />
                        <p>    
                            Hola, <b>{{ACCOUNT.username}}</b>
                        </p>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
