{% load static %}

<link rel="stylesheet" href="{% static 'css/menu.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<div class="row align-items-center">
    <div class="col-sm-1">
        {% if user.is_authenticated %}
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <br />
                <a aria-current="page" href="/">Inicio</a>

                {% if MENU %}
                    {% for option in MENU %}
                        <a href="{{ option.url }}" {% if option.target %}target="{{option.target}}"{% endif %}>{{ option.title }}</a>
                    {% endfor %}
                {% endif %}

                <a href="/auths/changepassword/">Cambiar contraseña</a>
                <a href="/auths/logout/">Salir</a>
            </div>
        {% else %}
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <br />
                <a href="/auths/login/" class="loginlink">Ingresar</a>
            </div>
        {% endif %}
        <div>
            <span onclick="openNav()" class="menu-title">☰ Menú</span>
        </div>
    </div>
</div>

<script src="{% static 'js/menu.js' %}"></script>
