
<nav aria-label="{{paginator.verbose_title}}">
    <ul class="pagination justify-content-center">
        {% for page_number in paginator.page_range %}
            <li class="page-item">
                <a 
                    class="page-link {% if page_number == paginator.page_number %}page-selected{% endif %}" 
                    {% if page_number != paginator.page_number %}
                        onclick="document.filterForm.page.value = '{{ page_number}}'; document.getElementById('filterForm').submit();"
                    {% endif %}
                >
                    {{page_number}}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
