{% extends 'base.html' %}

{% load static %}

{% block css %}<link type="text/css" rel="stylesheet" href='{% static "css/home.css" %}'>{% endblock %}

{% block title %}Plataforma de Control{% endblock %}

{% block content %} 

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <img src='{% static "img/app_logo.png" %}' alt="Logo {{COMPANY_NAME}}" class="logo rounded mx-auto d-block" />
                </div>
                <div class="col-sm-11">
                    <h1>{{COMERCIAL_APP_NAME}}</h1>
                    <p>Plataforma para gestionar permite la gestión y documentación de necesidades</p>
                </div>
            </div>
        </div>
    </header>

    <section class="features">
        <div class="container">
            <h2>Características Principales</h2>
            <div class="feature-grid">
                <div class="feature">
                    <h3>Registro de Necesidades</h3>
                    <p>Registra fácilmente las necesidades del proyecto con todos los detalles requeridos.</p>
                </div>
                <div class="feature">
                    <h3>Flujo de Trabajo por Fases</h3>
                    <p>Soporta un proceso estructurado en seis fases: Planteamiento, Planeación, Licitación, Contratación, Garantías y Desembolso.</p>
                </div>
                <div class="feature">
                    <h3>Seguridad de Datos</h3>
                    <p>Accesos restringidos y auditoría de usuarios.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="benefits">
        <div class="container">
            <h2 class="text-start">Beneficios de la Plataforma</h2>
            <ul>
                <li>Mayor Eficiencia: Agiliza los flujos de trabajo del proyecto y reduce la carga administrativa.</li>
                <li>Transparencia Mejorada: Obtén una visibilidad clara de cada etapa del ciclo de vida del proyecto.</li>
                <li>Mejor Toma de Decisiones: Accede a datos precisos y en tiempo real para tomar decisiones informadas.</li>
                <li>Riesgo Reducido: Asegura el cumplimiento y minimiza los errores con procesos estandarizados.</li>
                <li>Mayor Colaboración: Facilita la comunicación y colaboración fluidas entre los equipos y los contratistas.</li>
            </ul>
        </div>
    </section>

{% endblock %}