<table>
    <thead>
        <tr>
            <th width="20%" class="text-center">Documento</th>
            <th width="40%" class="text-center">Descripción</th>
            <th width="30%" class="text-center">Archivo</th>
            <th width="20%" class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody id="new_document_tbody_id">
    </tbody>
    <tfoot id="new_document_form_id">
        <tr id="new_document_detail_id">
            <td class="text-center">{{document_form.document_class}}</td>
            <td class="text-center">{{document_form.title}}</td>
            <td class="text-center">{{document_form.document_file}}</td>
            <td class="text-center">
                <button type="button" id="addbutton_id" class="btn btn-table w-30">+</button>
            </td>
        </tr>
    </tfoot>
</table>