
<form role="form" id="request-form" method="post" autocomplete="off" action="." enctype="multipart/form-data">
    <div class="modal-body">
        {% csrf_token %}
        <div class="row">
            {{form.applicant_id}}
            <div class="col-lg-3 col-md-12">
                <label class="text-main align-self-center">{{form.applicant_phone_number.label}}</label>
                {{form.applicant_phone_number}}
            </div>
            <div class="col-lg-3 col-md-12">
                <label class="text-main align-self-center">{{form.applicant_name.label}}</label>
                {{form.applicant_name}}
            </div>
            <div class="col-lg-3 col-md-12">
                <label class="text-main align-self-center">{{form.ramo.label}}</label>
                {{form.ramo}}
            </div>
            <div class="col-lg-3 col-md-12">
                <label class="text-main align-self-center">{{form.number.label}}</label>
                {{form.number}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 mt-2" style="background-color: #caf0f8;">
                <h4>
                    <center>INFORMACIÓN DEL TOMADOR</center>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-12">
                <label class="text-main align-self-center">{{form.taker_person_type.label}}</label>
                {{form.taker_person_type}}
            </div>
            <div class="col-lg-2 col-md-12">
                <label class="text-main align-self-center">{{form.taker_document_type.label}}</label>
                {{form.taker_document_type}}
            </div>
            <div class="col-lg-2 col-md-12">
                <label class="text-main align-self-center">{{form.taker_identification.label}}</label>
                {{form.taker_identification}}
            </div>
            <div class="col-lg-6 col-md-12">
                <label class="text-main align-self-center">{{form.taker_name.label}}</label>
                {{form.taker_name}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <label class="text-main align-self-center">{{form.taker_phone_number.label}}</label>
                {{form.taker_phone_number}}
            </div>
            <div class="col-lg-8 col-md-12">
                <label class="text-main align-self-center" id="taker_contact_name_label">{{form.taker_contact_name.label}}</label>
                {{form.taker_contact_name}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 mt-2" style="background-color: #caf0f8;">
                <h4>
                    <center>INFORMACIÓN DE LA SOLICITUD</center>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <label class="text-main align-self-center">{{form.value.label}}</label>
                {{form.value}}
            </div>
            <div id="custom_field_id" class="col col-lg-9 col-md-9 col-sm-12 col-xs-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 mt-2" style="background-color: #caf0f8;">
                <h4>
                    <center>DOCUMENTOS</center>
                </h4>
            </div>
        </div>
        <div class="row" id="ramo_document_id" >
            &nbsp;
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <label class="text-main align-self-center">{{form.observations.label}}</label>
                {{form.observations}}
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <div class="col">
            <div class="col-lg-12 col-md-12 mt-4">
                <center>
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn bg-gradient-primary" id="id_form_button">Guardar</button>
                </center>
            </div>
        </div>
    </div>
</form>
