<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_formModal">Edición de Solicitud</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" id="request-form" method="post" autocomplete="off" action="edit/" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form %}
                            {% if field.name != "observations" %}
                                <div class="col-lg-3 col-md-12 mb-1">
                                    <label for="{{ field.id_for_label }}" id="label_{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% if field.name == "request_receipt" or field.name == "request_police" %}
                                        <span id="section_{{field.id_for_label}}">{{field}}</span>
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                </div>
                            {% endif%}
                        {% endfor %}
                    </div>
                        
                    <div class="row" id="custom_field_id">  
                            
                    </div>

                    <div class="row" id="ramo_document_id">  
                            
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 mb-1">
                            {{ form.observations.label_tag }}
                            {{ form.observations }}
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn bg-gradient-primary" id="id_form_button" onclick="submit();">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>