{% load static %}
{% load humanize %}
{% load tools %} 
 
 <table class="table align-items-center mb-0">
    <thead>
        <tr>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Nro</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="70%">Tomador</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Estado</th>
            <th class="text-secondary opacity-7" width="10%"></th>
        </tr>
    </thead>
    <tbody>
        {% for operative_request in paginator.data %}
            <tr>
                <td class="align-middle text-end">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.number}}</span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.taker}}</span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.status}}</span>
                </td>
                <td class="align-middle">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#formModal" data-original-title="Ver Ramo" onclick="load_data('view', '{{operative_request.id}}');">
                        <i class="fa fa-eye text-sm"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody> 
</table>