{% load static %}
{% load humanize %}
{% load tools %}

<table class="table align-items-center mb-0">
    <thead>
        <tr>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Número</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="15%">Tomador</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="15%">Solicitante</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Ramo</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Valor</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Campos</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Estado</th>
            <th class="text-secondary opacity-7" width="20%"></th>
        </tr>
    </thead>
    <tbody>
        {% for operative_request in paginator.data %}
            <tr>
                <td class="align-middle text-end">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.number}}</span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.taker}}</span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.applicant}}</span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.ramo}}</span>
                </td>
                <td class="align-middle text-end" >
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.value|currency}}</span>
                </td>
                <td class="align-middle text-start">
                    {% for request_field in operative_request.request_fields %}
                        <span class="text-secondary text-xs font-weight-bold">{{request_field}}</span>
                        {% with operative_request.request_fields|last as last %}
                            {% if request_field.field.id != last.field.id %}
                                <br/>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.status}}</span>
                </td>
                <td class="align-middle">
                    <a href="{% url 'operative_requests_query' operative_request.id %}">
                        <button type="button" class="btn" data-original-title="Ver Solicitud">
                            <i class="fa fa-eye text-sm"></i>
                        </button>                   
                    </a>
                    <a href="{% url 'operative_requests_documents' operative_request.id %}">
                        <button type="button" class="btn" data-original-title="Ver Documentos">
                            <i class="fa fa-folder-open-o text-sm"></i>
                        </button>                   
                    </a>

                    {% if operative_request.status.id <= '3' %}
                        <a href="{% url 'operative_requests_attachment_documents' operative_request.id %}">
                            <button type="button" class="btn" data-original-title="Registrar Documentos">
                                <i class="fa fa-book text-sm"></i>
                            </button>
                        </a>
                    {% endif %}
                    {% if can_assign %}
                        {% if operative_request.status.id == '1' %}
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#formModal" data-original-title="Asignar Solicitud" onclick="load_data('assign', '{{operative_request.id}}');">
                                <i class="fa fa-hand-o-right text-sm"></i>
                            </button>
                        {% endif %}
                    {% endif %}
                    {% if can_load_documents %}
                        {% if operative_request.status.id == '2' %}
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#formModal" data-original-title="Registrar Documentos" onclick="load_data('loaddocuments', '{{operative_request.id}}');">
                                <i class="fa fa-file-text text-sm"></i>
                            </button>
                        {% endif %}
                    {% endif %}

                    {% if operative_request.status.id == '3' %}
                        {% if can_download_documents %}
                            <button type="button" class="btn" data-original-title="Descargar Recibo" onclick="downloadFile('{{operative_request.request_receipt.filename}}', '{{operative_request.request_receipt.contentfilename}}', '{{operative_request.request_receipt.file_type}}');">
                                <i class="fa fa-ticket text-sm"></i>
                            </button>
                            <button type="button" class="btn" data-original-title="Descargar Recibo RC" onclick="downloadFile('{{operative_request.request_rc_receipt.filename}}', '{{operative_request.request_rc_receipt.contentfilename}}', '{{operative_request.request_rc_receipt.file_type}}');">
                                <i class="fa fa-ticket-o text-sm"></i>
                            </button>
                        {% endif %}
                        {% if can_register_payment %}
                            <a href="{% url 'operative_requests_payment_register' operative_request.id %}">
                                <button type="button" class="btn" data-original-title="Registrar Pago">
                                    <i class="fa fa-credit-card text-sm"></i>
                                </button>
                            </a>
                        {% endif %} 
                    {% endif %}

                    {% if can_valide %}
                        {% if operative_request.status.id == '4' %}
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#formModal" data-original-title="Validar Pago" onclick="load_data('validate', '{{operative_request.id}}');">
                                <i class="fa fa-check-circle-o text-sm"></i>
                            </button>
                        {% endif %}
                    {% endif %}

                    {% if operative_request.status.id == '4' or operative_request.status.id == '5' %}
                        {% if can_download_documents %}
                            <button type="button" class="btn" data-original-title="Descargar Poliza" onclick="downloadFile('{{operative_request.request_police.filename}}', '{{operative_request.request_police.contentfilename}}', '{{operative_request.request_police.file_type}}');">
                                <i class="fa fa-file-text text-sm"></i>
                            </button>
                            {% if operative_request.request_rc_police %}
                                <button type="button" class="btn" data-original-title="Descargar Poliza RC" onclick="downloadFile('{{operative_request.request_rc_police.filename}}', '{{operative_request.request_rc_police.contentfilename}}', '{{operative_request.request_rc_police.file_type}}');">
                                    <i class="fa fa-file-text-o text-sm"></i>
                                </button>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if can_edit %}
                        <a href="{% url 'operative_requests_edit' operative_request.id %}">
                            <button type="button" class="btn" data-original-title="Editar Solicitud">
                                <i class="fa fa-pencil text-sm"></i>
                            </button>                   
                        </a>
                    {% endif %}

                    {% if can_delete %}
                        <a href="{% url 'operative_requests_delete' operative_request.id %}">
                            <button type="button" class="btn" data-original-title="Eliminar Solicitud">
                                <i class="fa fa-trash text-sm"></i>
                            </button>                   
                        </a>
                    {% endif %}
                </td>
            </tr>
    {% endfor %}
    </tbody> 
</table>