{% load static %}
{% load humanize %}
{% load tools %}

<table class="table align-items-center mb-0">
    <thead>
        <tr>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Número</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="15%">Tomador</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="15%">Solicitante</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Ramo</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Valor</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Campos</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Estado</th>
            <th class="text-secondary opacity-7" width="20%"></th>
        </tr>
    </thead>
    <tbody>
        {% for operative_request in paginator.data %}
            <tr>
                <td class="align-middle text-end">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.number}}</span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.taker}}</span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.applicant}}</span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.ramo}}</span>
                </td>
                <td class="align-middle text-end" >
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.value|currency}}</span>
                </td>
                <td class="align-middle text-start">
                    {% for request_field in operative_request.request_fields %}
                        <span class="text-secondary text-xs font-weight-bold">{{request_field}}</span>
                        {% with operative_request.request_fields|last as last %}
                            {% if request_field.field.id != last.field.id %}
                                <br/>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.status}}</span>
                </td>
                <td class="align-middle">
                    <a href="{% url 'operative_requests_query_source' operative_request.id source %}">
                        <button type="button" class="btn" data-original-title="Ver Solicitud" alt="Ver Solicitud" title="Ver Solicitud">
                            <i class="fa fa-eye text-sm"></i>
                        </button>                   
                    </a>
                    <a href="{% url 'operative_requests_documents_source' operative_request.id source %}">
                        <button type="button" class="btn" data-original-title="Ver Documentos" alt="Ver Documentos" title="Ver Documentos">
                            <i class="fa fa-folder-open-o text-sm"></i>
                        </button>                   
                    </a>
                </td>
            </tr>
    {% endfor %}
    </tbody> 
</table>
