{% load static %}
{% load humanize %}
{% load tools %}

<table class="table align-items-center mb-0">
    <thead>
        <tr>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Número</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="20%">Tomador</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="20%">Solicitante</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Ramo</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Valor</th>
            <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7" width="10%">Estado</th>
            <th class="text-secondary opacity-7" width="20%"></th>
        </tr>
    </thead>
    <tbody>
        {% for operative_request in paginator.data %}
            <tr>
                <td class="align-middle text-end">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.number}}</span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.taker}}</span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.applicant}}</span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.ramo}}</span>
                </td>
                <td class="align-middle text-end" >
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.value|currency}}</span>
                </td>
                <td class="align-middle">
                    <span class="text-secondary text-xs font-weight-bold">{{operative_request.status}}</span>
                </td>
                <td class="align-middle">
                    <a href="{% url 'operative_requests_query_source' operative_request.id source %}">
                        <button type="button" class="btn" data-original-title="Ver Solicitud">
                            <i class="fa fa-eye text-sm"></i>
                        </button>                   
                    </a>
                    <a href="{% url 'operative_requests_documents_source' operative_request.id source %}">
                        <button type="button" class="btn" data-original-title="Ver Documentos">
                            <i class="fa fa-folder-open-o text-sm"></i>
                        </button>                   
                    </a>



                    {% if operative_request.status.id == '3' %}
                            <button type="button" class="btn" data-original-title="Descargar Recibo" onclick="downloadFile('{{operative_request.request_receipt.filename}}', '{{operative_request.request_receipt.contentfilename}}', '{{operative_request.request_receipt.file_type}}');">
                                <i class="fa fa-ticket text-sm"></i>
                            </button>
                            <button type="button" class="btn" data-original-title="Descargar Recibo RC" onclick="downloadFile('{{operative_request.request_rc_receipt.filename}}', '{{operative_request.request_rc_receipt.contentfilename}}', '{{operative_request.request_rc_receipt.file_type}}');">
                                <i class="fa fa-ticket-o text-sm"></i>
                            </button>
                    {% endif %}

                    {% if can_register_payment and operative_request.status.id == '3' %}
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#formModal" data-original-title="Registrar Pago" onclick="load_data('paymentregister', '{{operative_request.id}}');">
                            <i class="fa fa-credit-card text-sm"></i>
                        </button>
                    {% endif %}

                    {% if operative_request.status.id == '4' or operative_request.status.id == '5' %}
                        <button type="button" class="btn" data-original-title="Descargar Poliza" onclick="downloadFile('{{operative_request.request_police.filename}}', '{{operative_request.request_police.contentfilename}}', '{{operative_request.request_police.file_type}}');">
                            <i class="fa fa-download text-sm"></i>
                        </button>
                        {% if operative_request.request_rc_police %}
                            <button type="button" class="btn" data-original-title="Descargar Poliza RC" onclick="downloadFile('{{operative_request.request_rc_police.filename}}', '{{operative_request.request_rc_police.contentfilename}}', '{{operative_request.request_rc_police.file_type}}');">
                                <i class="fa fa-cloud-download text-sm"></i>
                            </button>
                        {% endif %}
                    {% endif %}

                </td>
            </tr>
    {% endfor %}
    </tbody> 
</table>
