{% load static %}

<nav class="navbar navbar-expand navbar-light bg-white py-1">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="collapse navbar-collapse w-100 pt-0 pb-2" id="navigation">
                    <ul class="nav nav-pills bg-white justify-content-center">
                        <li class="nav-item">
                            <a class="navbar-brand" href="/" rel="tooltip" title="Plataforma de Comunidades" data-placement="bottom">
                                <h3>
                                    <img src="{% static 'img/arvii_logo.png' %}" width="20%" />
                                    {{COMERCIAL_APP_NAME}}
                                </h3>
                            </a>
                        </li>                        
                        {% if ACCOUNT %}
                            <li class="mx-2 nav-item dropdown dropdown-hover">
                                <a class="cursor-pointer" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                    Menu
                                    <img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-1">
                                </a>
                                <div class="dropdown-menu dropdown-menu-animation dropdown-md p-1 border-radius-lg mt-0" aria-labelledby="dropdownMenu">
                                    <a href="{% url 'home' %}" class="border-radius-md">
                                        <div class="d-inline-block">
                                            <div class="icon h-10 me-3 d-flex mt-1">
                                                <i class="fa fa-home text-gradient text-primary"></i>
                                            </div>                   
                                        </div>
                                        Inicio
                                    </a>
                                    {% if ACCOUNT.role.id == "admin" %}
                                        {% for menu in MENU.admin %}
                                            {% with menuurl=menu.url %}
                                                <a href="{% url menuurl %}" class="dropdown-item border-radius-md">
                                                    <span class="ps-3">{{menu.title}}</span>
                                                </a>
                                            {% endwith %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if ACCOUNT.role.id == "assistant" or ACCOUNT.role.id == "admin" %}
                                        {% for menu in MENU.operative %}
                                            {% with menuurl=menu.url %}
                                                <a href="{% url menuurl %}" class="dropdown-item border-radius-md">
                                                    <span class="ps-3">{{menu.title}}</span>
                                                </a>
                                            {% endwith %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </li>
                            <li class="mx-2 nav-item">
                                <a href="{% url 'auth_logout' %}" class="nav-item">
                                    <div class="d-inline-block">
                                        <div class="icon d-flex">
                                            <i class="fa fa-sign-out text-secundary"></i>
                                        </div>                   
                                    </div>
                                    Salir
                                </a>        
                            </li>                            
                        {% else %}
                            <li class="mx-2 nav-item">
                                <a href="{% url 'home' %}" class="nav-item">
                                    <div class="d-inline-block">
                                        <div class="icon d-flex">
                                            <i class="fa fa-home text-secundary"></i>
                                        </div>                   
                                    </div>
                                    Inicio
                                </a>        
                            </li>
                            <li class="mx-2 nav-item">
                                <a class="nav-item" href="{% url 'auth_login' %}">
                                    <i class="fa fa-sign-in"></i>
                                    <span class="">Ingresar</span>
                                </a> 
                            </li>
                        {% endif %} 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
