<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_formModal">Creación de Ramo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" id="ramo-form" method="post" autocomplete="off" action="create/">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form %}
                            <div class="col-md-12 mb-1">
                                {{field.label_tag}}
                                {{field}}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn bg-gradient-primary" id="id_form_button" onclick="submit();">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>