.alert-error-custom {
    background-color:#d5597c;
    color:#ffffff;
  }
  
  .select2-container .select2-selection--single {
    height: 50px !important;
    padding: 12px !important;
  }
  
  .select2-container--default .select2-selection--single {
    border: 1px solid #ccc !important;
    border-radius: 0.5rem !important;
  }

.text-primary {
    color: #124e78 !important;
}

gradient-primary:hover {
    background-color: #124e78 !important;
    border-color: #caf0f8 !important;
}
