{% extends 'base.html' %}
{% load humanize %}

{% block content %}

    <form role="form" id="filterForm"  name="filterForm" method="post" autocomplete="off" action="." enctype="multipart/form-data">
        {% csrf_token %}

        {% block filtersection %}
        {% endblock %}
        
        {% block process_buttons %}{% endblock %}
        
        {% if paginator %}
            <div class="row" style="background:rgb(236, 227, 248);">
                <div class="col-sm-6 mb-2 mt-2 text-start">
                    Registro {% if paginator.register_start %}{{paginator.register_start}}{% else %}0{% endif %} hasta {% if paginator.register_end %}{{paginator.register_end}}{% else %}0{% endif %}
                </div>
                <div class="col-sm-6 mb-2 mt-2 text-end">
                    {% if paginator.quantity %}{{paginator.quantity}}{% else %}0{% endif %} de {{paginator.registers}} registros
                </div>
            </div>
        {% else %}
            {% block registerbar %}{% endblock %}
        {% endif %}

        {% block datatable %}{% endblock %}

        {% include "include/paginator.html" %}

        {% block navegator_buttons %}{% endblock %}
    </form>
{% endblock %}
